.score-container {
   display: flex;
   flex-direction: row;
   border: 3px solid rgba(194, 194, 194, 0.363);
   border-radius: 10px;
   width: 90%;
   max-width: 900px;
   align-items: center;
   justify-content: space-between;
   height: 100px;
   box-shadow: inset 0px 0px 4px 4px #0000000e;
   position: absolute;
   top: 30px;
   left: 0;
   right: 0;
   padding: 18px 0;

   margin: 0 auto;
}

.score-container > * {
   margin: 18px;
}

.logo {
   height: 100%;
}

.score-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(187.21deg, #ffffff 4.7%, #b0aeae 94.34%);
   border-radius: 8px;

   height: 110%;
   width: 150px;
}

h4 {
   color: #1d46ad;
   font-size: 18px;
   letter-spacing: 0.1em;
   margin-bottom: -8px;
}

h1 {
   color: #3c4457;
   font-size: 56px;
}

@media (max-width: 1440px) {
   .score-container {
      height: 80px;
   }

   h1 {
      font-size: 48px;
   }
}

@media (max-width: 425px) {
   .score-container {
      height: 70px;
      padding: 12px;
   }

   .score-container > * {
      margin: 8px;
   }

   h1 {
      font-size: 42px;
   }

   h4 {
      font-size: 14px;
   }

   .score-card {
      width: 100px;
   }
}
