.game-container {
   max-width: 100%;
   /* height: 100px; */
   display: flex;
   align-items: center;
   justify-content: center;
}

.play-again {
   width: 0%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: 3s;
   overflow: hidden;
   margin: 0 2rem;
}

.play-again > * {
   overflow: hidden;
   white-space: nowrap;
}

.play-again h1 {
   color: white;
}

.play-again button {
   background-color: white;
   border-radius: 5px;
   border: none;
   width: 100%;
   height: 48px;
   font-size: 24px;
   color: rgb(31, 31, 141);
   font-weight: bold;
   margin-top: 16px;
}

.picked {
   text-align: center;
   margin: 0 2rem;
}

.picked > * {
   margin: 0 auto;
}

.picked h4 {
   margin-bottom: 16px;
   font-size: 24px;
   color: rgb(87, 87, 255);
}

.choosing {
   padding: 40px;
   width: auto;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.bg-triangle {
   width: 100%;
   margin: 0 auto;
}

.option {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 16px solid;
   width: 120px;
   height: 120px;
   background-color: white;
   border-radius: 50%;
}

.picked .option {
   width: 240px;
   height: 240px;
}

.select {
   position: absolute;
   cursor: pointer;
}

.select img,
.picked .option img {
   width: 60%;
}

.choosing .scissors {
   left: 0;
   top: 0;
}

.scissors {
   border-color: orange;
}

.choosing .rock {
   right: 0;
   top: 0;
}

.rock {
   border-color: rgb(187, 35, 35);
}

.choosing .paper {
   left: 0;
   right: 0;
   bottom: 0;
   margin: 0 auto;
}

.paper {
   border-color: rgb(43, 43, 230);
}

.select:hover {
   transform: scale(1.1);
}

@media (max-width: 768px) {
   .picked .option {
      width: 120px;
      height: 120px;
   }

   .picked h4 {
      font-size: 12px;
   }

   .picked {
      margin: 0 1rem;
   }

   .play-again {
      margin: 0;
   }

   .play-again h1 {
      font-size: 32px;
   }
}

@media (max-width: 600px) {
   .game-container {
      position: relative;
   }

   .picked {
      margin: 0 2rem;
   }

   .play-again {
      position: absolute;
      top: 120%;
      left: 0;
      right: 0;
      margin: 0 auto;
   }

   .play-again h1 {
      font-size: 42px;
   }
}
